
:root
{
    --text: 15px;
    --heading: 18px;
    --nav-height: 175px;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Slab', serif;
    font-size: var(--text);
    outline: none;
    user-select: none;
}

div.main-heading
{
    text-align: center;
    border: 0px solid black;
    padding: 10px;
    font-size: 28px;
    font-weight: 600;
    background: linear-gradient(90deg, orange, white, white, lightGreen);
}

nav
{
    display: block;
    margin: 1px 0px;
    background: #333;
}

#menu-button
{
    border: 1px solid #333;
    width: 50px;
    border-radius: 5px;
    margin: 0px auto ;
}

nav:hover > #menu-button
{
    background: grey;
}

nav:hover > ul#menu-list
{
    height: var(--nav-height);
}

#menu-button hr
{
    width: 30px;
    margin: 10px;
    border: 1px solid white;
    border-radius: 5px;
}

ul#menu-list>li
{
    list-style: none;
    text-align: center;
    padding: 5px;
    color: white;
    font-weight: 200;
}

ul#menu-list>li:hover
{
    background: white;
    color: black;
    font-weight: 100;
}

ul#menu-list
{
    height: 0px;
    overflow: hidden;
    transition: 0.2s;
    border: 1px solid #333;
    display: block ;
    background: #333;
}

div#content > div
{
  /*border: 1px dashed blue;*/
    text-align: center;
    padding: 10px;
}

div.heading
{
    font-weight: 200;
    display: block ;
    padding: 1px 10px;
    font-size: var(--heading);
    text-align: center;
}

#about-heading
{
    border-radius: 20px;
    box-shadow: -2px 2px 3px black;
    color: white;
    border: 1px solid black;
    background-color: inherit;
    font-weight: 200;
    display: inline-block;
    padding: 1px 10px;
    font-size: var(--heading);
    text-align: center;
}

div#content > div#left
{
    background: #EFEF8D;
}

div#content > div#middle
{
 padding: 1px;
}

.card
{
    border: 2px solid black;
    width: 100%;
    background: rgba(133,207,250,1);
    padding: 5px;
    box-sizing: border-box;
    transition: 0.1s;
    border-radius: 5px;
    margin: 1px;
}

.card-heading
{
    border-bottom: 1px solid black;
    width: 150px;
    display: inline-block ;
    margin: 5px 0px;
    font-weight: 400;
    font-family: calibri;
    font-size: var(--heading);
}

.card-text
{
  
}

.card:active
{
    transform: scale(0.97);
    background-color: rgba(80,207,250,1);
}

div#content > div#right
{
    background-color: #A946FF;
}

div#about
{
    margin: 10px;
    color: white;
    font-weight: 100;
}

#user-comment
{
    margin: 2px 0px;
    box-sizing: border-box;
}

#user-comment
{
    background: #DEDEDE;
}

.uc
{
    padding: 5px;
    background: #4BB84F;
    border-bottom: 2px solid black;
    margin-left: 1px;
    border-radius: 5px;
}

.dp
{
    border-radius: 50%;
    border: 3px solid #C8C8C8;
    height: 40px;
    width: 40px;
    display: inline-block;
}

.user-name
{
    font-size: var(--text);
    font-weight: 600;
    display: inline-block;
    border: 0px solid black;
    transform: translateY(-17px) translateX(5px);
}

.user-comment
{
    color: white;
}

#comment
{
    border-left: 2px solid black;
    box-sizing: border-box;
    margin-left: 2px;
    margin-bottom: 5px;
    background: rgb(220,220,220);
}

#comment-heading
{
    margin: 3px;
    border-bottom: 1px solid black;
    width: 230px;
    padding: 5px 0px;
    font-size: var(--heading);
} 

form#feedback input, textarea
{
    border: 1px solid black;
    border-radius: 5px;
    margin: 1px 0px;
    text-align: center;
    width: 200px;
}

td:first-child
{
    text-align: right;
    padding: 2px 5px;
}

#submit
{
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
    transition: 0.1s;
    background: #333;
    color: white;
}

#submit:active
{
    transform: scale(0.9);
}

footer
{
    text-align: center;
    background: #333;
    color: white;
    padding: 10px 0px;
}
















